@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,500;0,800;1,600&display=swap');

body{
    font-family: 'Lato', sans-serif;
font-family: 'Work Sans', sans-serif;
}
header{
    min-height: 550px;
}
.nav-youtube{
    color: red;
    padding: 0 10px;
}
.max-width{
    max-width: 1400px;
    margin: 0 auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-container{
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px 10px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.logo-container{
    display: flex;
}
.logo-container p{
    font-size: 40px;
    
}
.logo-container img{
    width: 86.041px;
    height: 40px;
    flex-shrink: 0;
}
/* menu section */
.nav-items-container{
    display: flex;
}
.nav-items-container ul{
   display: flex;
       align-items: center;
}
.nav-items-container li{
    list-style: none;
    padding: 0 20px;
}
.nav-items-container a{
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    

}
.nav-icon{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 20px 15px;
} 
/* =================banner-section */
.banner-container{
    display: flex;
    align-items: center;
    padding: 30px 10px;
    gap: 40px;
    justify-content: space-between;

}
.banner-title{
    padding-bottom: 100px;
}
.banner-title h1{
    font-size: 95px;
    font-weight: 800;
    padding: 10px 0;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.banner-title h2{
    color: #0B0223;
    font-size: 40px;
    font-weight: 600;
}
.banner-title p{
    color: #534C64;
    padding: 15px 0;
    font-size: 20px;
    
}
.banner-icon{
    color:#ff42a5 ;
    padding-right: 15px;
}


.banner-img img{
    max-width: 100%;
    
}
.button{
    display: inline-flex;
    align-items: flex-start;
    font-size: 20px;
    font-weight: 600;
    border: none;
    color: #fff;
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    background-color: #ff42a5;
}
.button-two{
    display: inline-flex;
    align-items: flex-start;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    background-color : #4EC5F7;
    border: none;
}
/* ================================== */
.main-area-title-h1{
    color: #F948B2;
}
.img-block{
 height : 400px
}
.vide-box-img{
    position: relative;
    overflow: hidden;
    height : 370px;
    border-radius: 14px;
    transition: all 0.3s linear;
}
.video-box-description{
    padding-top: 30px;
}
.vide-box-img:hover .video-box-second{
    margin-top: 0%;
}
.video-box-second{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    border-radius: 14px;
    display: flex;
    margin-top: 200%;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 4px solid #FF42A5;
    background-color: #000000b4;
    transition: all 0.3s linear;
    z-index: 100;
}

.hover-btn{
    width: 48px;
    height: 48px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;


}
.hover-text{
    color: #F948B2;
    margin-top: 80px;
    position: absolute;
}
 /* video section */
 .video-button{
    max-width: 1400px;
    margin: 0 auto;
} 
.video-button h1{
    text-align: center;
    font-size: 40px;
}
.funny-span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.video-button {
    text-align: center;
    padding: 30px 0;
    color: rgba(83, 76, 100, 1);
    
}
.video-box-area{
    display: flex;
    gap: 30px;
    padding-bottom: 30px;
   
}
.video-box{
    padding-top:30px ;
    width: 23%;
    text-align: left;

}
.video-box img{
    width: 100%;
    padding-bottom: 20px;
}
/* ============================== */
.play-instantly{
    max-width: 1400px;
    margin: 0 auto;
    padding: 100px 10px;
    display: flex;
    gap: 50px;
    align-items: center;
}
.play-instantly-title{
    width: 45%;
    text-align: end;
    padding-right: 60px;

}
.play-instantly-img{
    width: 45%;
    position: relative;

}
.play-instantly-img-little{
    position: absolute;
    margin-top: -300px;
    margin-right: -200px;
    margin-left: -105px;
}
.play-instantly-title p{
    font-size: 20px;
    line-height: 30px;
    padding: 40px 0;
}
/* ------------------------------------ */
.icon-box-area{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
    margin-top: 50px; 
   
}
.icon-box-section{
    max-width: 1400px;
    margin: 0 auto;
    padding: 50px 120px;
    display: grid;
    row-gap: 40px;
    grid-template-columns: repeat(5 ,1fr);
}
.icon-box{
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 50px;
    background: #FFF;
    padding: 8px;
    border: 2px solid #fff;

}
.icon-box:hover{
    border: 2px solid #F948B2;
    color: #8758F1;

}
.third-icon-box{
    border: 2px solid #F948B2;
}

/* footer------------------------ */
footer{
    background: rgba(11, 2, 35, 1);
    color: #FFF;
    text-align: center;
    padding: 50px 0;
}
.footer-title{
    max-width: 900px;
    margin: 0 auto;
}
.sub-footer{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 30px 0;
    font-size: 18px;
}
.icon-box-footer{
    display: grid;
    grid-template-columns: repeat(6 ,1fr);
    padding: 30px 0;
    font-size: 30px;
}
.terms-privacy{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-bottom: 30px;
    font-size: 20px;
}   